body {
	font-family: 'Ubuntu';
}

a {
	@include transition(color 0.2s 0s ease-in, background-color 0.2s 0s ease-in);
}

a:hover{
	@include transition(color 0.2s 0s ease-out, background-color 0.2s 0s ease-out);
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;	
}

.text-right {
	text-align: right;
}

.clearfix {
	clear: both;
}