@media only screen {
	.timeline-container {
		padding: 3em 20%;

		h1 {
			margin: 1em 0;
			padding: 0;
			font-size: 3em;
		}

		hr {
			display: none;
		}

		.timeline-filter-range {
			position: relative;
			float: left;
			width: 50%;
			margin: 0 0 5em 0;
			padding: 0;

			label {
				display: block;
				position: relative;
				margin: 12px 70px;
				padding: 0;
				cursor: pointer;
				text-align: center;
				line-height: 1.2em;
				font-size: 1.5em;
				@include user-select(none);

				input {
					-webkit-appearance: none;  /* Override default CSS styles */
				    appearance: none;
				    position: absolute;
				    top: 50px;
				    left: 5%;
				    height: 30px;
				    width: 90%;
				    margin: 0;
				    padding: 0;
				    border-radius: 15px;
				    background: $timelineSecondaryColor; 
				    outline: none;
				    cursor: pointer;
					@include transition(opacity .2s);

				    &::before {
				    	content: 'Podstatné informace';
				    	position: absolute;
				    	top: 50px;
				    	left: -50px;
				    	color: $timelineSecondaryDarkColor;
				    	font-size: 1.5em;
				    }

				    &::after {
				    	content: 'Nudné detaily';
				    	position: absolute;
				    	top: 50px;
				    	right: -50px;
				    	color: $timelineSecondaryDarkColor;
				    	font-size: 1.5em;
				    }

					&::-webkit-slider-thumb {
					    -webkit-appearance: none; 
					    appearance: none;
					    width: 30px; 
					    height: 30px;
					    border-radius: 50%;
					    background: $timelinePrimaryColor;
					    cursor: pointer;
					}

					&::-moz-range-thumb {
					    width: 30px;
					    height: 30px;
					    border-radius: 50%;
					    background: $timelinePrimaryColor; 
					    cursor: pointer;
					}
				}

				&:hover input {
					background-color: $timelineSecondaryDarkerColor;
				}
			}
		}

		.timeline-filter-checkboxes {	
			position: relative;
			float: right;
			width: 50%;
			margin: 0 0 5em 0;

			label {
				display: block;
				position: relative;
				padding-left: 35px;
				margin: 12px 10px 5px 30%;
				cursor: pointer;
				line-height: 1.2em;
				font-size: 1.4em;
				@include user-select(none);

				input {
					position: absolute;
					opacity: 0;
					cursor: pointer;

					&:checked ~ .checkmark {
						background-color: $timelinePrimaryColor;
					}

					&:checked ~ .checkmark:after {
						display: block;
					}
				}

				.checkmark {
					position: absolute;
					top: 0;
					left: 0;
					height: 25px;
					width: 25px;
					background-color: $timelineSecondaryColor;

					&:after {
						content: "";
						position: absolute;
						display: none;
						left: 9px;
						top: 5px;
						width: 5px;
						height: 10px;
						border: solid $timelineSecondaryLighterColor;
						border-width: 0 3px 3px 0;
						@include transform(rotate(45deg));
					}
				}

				&:hover input ~ .checkmark {
					background-color: $timelineSecondaryDarkerColor;
				}
			}
		}

		/* The actual timeline (the vertical ruler) */
		.timeline {
			clear: both;
			position: relative;
			max-width: 1200px;
			margin: 0 auto;

			/* The actual timeline (the vertical ruler) */
			&::after {
				content: '';
				position: absolute;
				width: 6px;
				background-color: $timelineSecondaryColor;
				top: 0;
				bottom: 0;
				left: 50%;
				margin-left: -3px;
			}

			/* Container around content */
			.timeline-container {
				padding: 0px 45px;
				position: relative;
				background-color: inherit;
				width: 50%;

				/* The circles on the timeline */
				&::after {
					content: attr(data-year);
					box-sizing: border-box;
					position: absolute;
					top: 12px;
					width: 50px;
					height: 50px;
					right: -25px;
					padding: 12px 0;
					border: 4px solid $timelinePrimaryColor;
					border-radius: 50%;
					text-align: center;
					font-weight: bold;
					background-color: $timelineSecondaryLighterColor;
					color: $timelinePrimaryColor;
					z-index: 1;
					@include transition(background .2s);
				}

				&:hover::after {
					background-color: $timelinePrimaryColor;
					color: $timelineSecondaryLighterColor;
				}

				&[data-showCircle="false"]::after{
					display: none;
				}

				/* The actual content */
				.timeline-content {
					padding: 20px 30px;
					background-color: $timelineSecondaryColor;
					position: relative;
					border-radius: 6px;

					h2 {
						font-size: 1.7em;
					}

					p {
						font-size: 1em;
					}
				}
			}

			/* Place the container to the left */
			.timeline-left {
				left: 0;

				/* Add arrows to the left container (pointing right) */
				&::before {
					content: " ";
					height: 0;
					position: absolute;
					top: 26px;
					width: 0;
					z-index: 1;
					right: 35px;
					border: medium solid $timelineSecondaryColor;
					border-width: 10px 0 10px 10px;
					border-color: transparent transparent transparent $timelineSecondaryColor;
				}
			}

			/* Place the container to the right */
			.timeline-right {
				left: 50%;

				/* Add arrows to the right container (pointing left) */
				&::before {
					content: " ";
					height: 0;
					position: absolute;
					top: 26px;
					width: 0;
					z-index: 1;
					left: 35px;
					border: medium solid $timelineSecondaryColor;
					border-width: 10px 10px 10px 0;
					border-color: transparent $timelineSecondaryColor transparent transparent;
				}

				/* Fix the circle for containers on the right side */
				&::after {
					left: -25px;
				}
			}
		}	
	}	
}

@media only screen and (max-width: 1280px) {
	.timeline-container {
		padding: 1em 5%;

		h1 {
			margin: 2.5em 0 0.5em 0;
		}
	}	
}

@media only screen and (max-width: 768px) {
	.timeline-container {
		padding: 1em 2%;

		h1 {
			margin: 1.1em 0 0.5em 0;
			padding: 0;
			font-size: 3em;
		}		

		hr {
			display: block;
			height: 1px;
			border: 0;
			background-color: $timelineSecondaryDarkerColor;
		}

		.timeline-filter-range {
			position: relative;
			float: none;
			width: 100%;
			margin: 0;
			padding: 0;

			label {
				margin: 8px 0 135px;
				padding: 0;
				text-align: center;

				input {
					left: 10%;
					width: 80%;
					height: 45px;
					border-radius: 22.5px;
				    			    
				    &::before {
				    	left: -30px;
				    }

				    &::after {
				    	right: -30px;
				    }

				    &::-webkit-slider-thumb {
					    width: 45px; 
					    height: 45px;
					}

					&::-moz-range-thumb {
					    width: 45px;
					    height: 45px;
					}
				}
			}
		}

		.timeline-filter-checkboxes {	
			position: inherit;
			float: none;
			clear: both;
			width: 100%;
			margin: 0 0 5em 0;
			padding: 0;
			text-align: center;

			label {
				display: inline-block;
				margin: 12px 5px 5px 5px;
				padding-left: 45px;

				.checkmark {
					height: 35px;
					width: 35px;

					&:after {
						left: 13px;
						top: 5px;
						width: 6px;
						height: 18px;
						border-width: 0 4px 4px 0;
					}
				}
			}
		}


		/* The actual timeline (the vertical ruler) */
		.timeline {
			
			/* The actual timeline (the vertical ruler) */
			&::after {
				left: 25px;
			}

			/* Container around content */
			.timeline-container {
				margin: 25px 0 0 0;
				padding: 0 10px 0 65px;
				width: 100%;

				/* The circles on the timeline */
				&::after {
					left: 0px;
					padding: 12px 0;
				}

				/* The actual content */
				.timeline-content {
					padding: 12px 20px;

					h2 {
						font-size: 1.7em;
					}

					p {
						font-size: 1.2em;
					}
				}
			}

			/* Place the container to the left */
			.timeline-left {

				/* Add arrows to the left container (pointing right) */
				&::before {
					top: 26px;
					left: 55px;
					border-width: 10px 10px 10px 0;
					border-color: transparent $timelineSecondaryColor transparent transparent;
				}
			}

			/* Place the container to the right */
			.timeline-right {
				left: 0;

				/* Add arrows to the right container (pointing left) */
				&::before {
					top: 26px;
					left: 55px;
				}

				/* Fix the circle for containers on the right side */
				&::after {
					left: 0px;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.timeline-container {
		padding: 1em 1%;

		h1 {
			margin: 1.1em 0 0.5em 0;
		}		
	}
}

@media only print {
	.timeline-container {
		padding: 1em 5%;

		h1 {
			margin: 0;
			padding: 0;
			font-size: 2em;
		}

		hr {
			display: none;
		}

		.timeline-filter-range {
			display: none;
		}

		.timeline-filter-checkboxes {	
			
			display: none;
		}

		/* The actual timeline (the vertical ruler) */
		.timeline {
			clear: both;
			position: relative;
			max-width: 1200px;
			margin: 50px auto 0;

			/* The actual timeline (the vertical ruler) */
			&::after {
				content: '';
				position: absolute;
				border-left: solid 6px $timelineSecondaryColor;
				top: 0;
				bottom: 0;
				left: 25px;
			}

			/* Container around content */
			.timeline-container {
				margin: 0 0 30px 80px;
				padding: 0;
				position: relative;
				background-color: none;
				border: 1px solid $timelineSecondaryDarkerColor;
				border-radius: 10px;

				/* The circles on the timeline */
				&::after {
					content: attr(data-year);
					box-sizing: border-box;
					position: absolute;
					top: 12px;
					width: 50px;
					height: 50px;
					left: -80px;
					padding: 12px 0;
					border: 4px solid $timelinePrimaryColor;
					border-radius: 50%;
					text-align: center;
					font-weight: bold;
					background-color: $timelineSecondaryLighterColor;
					color: $timelinePrimaryColor;
					z-index: 1;
				}

				&[data-showCircle="false"]::after{
					display: none;
				}

				/* The actual content */
				.timeline-content {
					padding: 12px 20px;
					background-color: $timelineSecondaryColor;
					position: relative;
					border-radius: 6px;

					h2 {
						font-size: 1.7em;
					}

					p {
						font-size: 1.2em;
					}
				}
			}

			/* Place the container to the left */
			.timeline-left, .timeline-right {
				left: 0;

				/* Add arrows to the left container (pointing right) */
				&::before {
					content: " ";
					height: 0;
					position: absolute;
					top: 26px;
					width: 0;
					z-index: 1;
					left: -12px;
					border: medium solid $timelineSecondaryColor;
					border-width: 10px 10px 10px 0;
					border-color: transparent $timelineSecondaryColor transparent transparent;
				}
			}

			/* Place the container to the right */
			.timeline-right {

				/* Fix the circle for containers on the right side */
				&::after {
					left: -80px;
				}
			}
		}	
	}
}