$signpostPrimaryColor: #DDD;
$signpostPrimaryContrastColor: #333;
$signpostSecondaryColor: #ff7a00;
$signpostPrintColor: #000;

$timelinePrimaryColor: #ff7a00;
$timelineSecondaryColor: #DDD;
$timelineSecondaryLighterColor: #FFF;
$timelineSecondaryDarkerColor: #ccc;
$timelineSecondaryDarkColor: #222;
